*
!.dockerignore
!Dockerfile
!LICENSE-AGPL-3.0-only
!LICENSE-Apache-2.0
!THIRD_PARTY_NOTICES.md
!SOURCE-OFFER.md
!UPSTREAM.lock
!build-manifest.json
!requirements.lock
!build-requirements.lock
!source-artifacts.lock
!patches/
!patches/0001-papertrans-safe-dependencies.patch
!scripts/
!scripts/validate_source.py
!scripts/generate_runtime_metadata.py
!scripts/generate_tree_manifest.py
!scripts/fetch_source_artifacts.py
!scripts/verify_tree_manifest.py
!scripts/verify_installed_source_mapping.py
!worker/
!worker/pyproject.toml
!worker/LICENSE
!worker/src/
!worker/src/**
!worker/tests/
!worker/tests/**
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
